#previewFull {
  background-color: #121212 !important;
  width: 802px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

#sitetitle {
  border-bottom: none !important;
}

body {
  background-color: #121212 !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: none !important;
}

.borderRight {
  border-right: 1px solid #787878 !important;
}

#wrapper_thumb {
  width: 806px !important;
}

.logo {
  display: none !important;
}

.detailText {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.preview {
  border: 1px solid #000000 !important;
}

.thumbnail {
  background-color: #121212 !important;
  color: inherit;
}

.itemNumber {
  color: #9C9C9C !important;
  display: none !important;
  background-color: inherit;
}

#stage2 {
  width: 806px !important;
}

.thumb, .preview {
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #808080 !important;
  color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #787878 !important;
  border-left: 1px solid #787878 !important;
}

.borderRightDotted {
  border-right: 1px dotted #787878 !important;
}

.caption {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.emptyThumbnail {
  background-color: #121212 !important;
  color: inherit;
}

#wrapper_large {
  width: 806px !important;
}

.borderBottomRight {
  border-right: 1px solid #787878 !important;
  border-bottom: 1px solid #787878 !important;
}

#previewImage {
  maxSize: 600.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: 1px solid #000000 !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #787878 !important;
}

#stage {
  width: 806px !important;
}

.textColor {
  color: #CCCCCC !important;
  background-color: inherit;
}
